body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363636;
  /* background-image: url("../src/components/cards/images/AdobeStock_284413962_Preview.jpeg");
  background-repeat: repeat; */
}
